<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeSamples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CodeSamples.Properties.OtherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="Setting1" value="May 5, 2014"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
  <userSettings>
        <CodeSamples.Properties.Settings>
            <setting name="SettingString" serializeAs="String">
                <value>StringValue</value>
            </setting>
            <setting name="SettingInt" serializeAs="String">
                <value>0</value>
            </setting>
        </CodeSamples.Properties.Settings>
        <CodeSamples.Properties.OtherSettings>
            <setting name="SomeOtherStringSetting" serializeAs="String">
                <value/>
            </setting>
            <setting name="SomeOtherIntSetting" serializeAs="String">
                <value>0</value>
            </setting>
        </CodeSamples.Properties.OtherSettings>
    </userSettings>
</configuration>
